<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="main-content">
     {{>header}}
    <main>
        <h2>Our API covers global weather data across the board — from a multi-year history all the way to live information and accurate weather forecasts.</h2>
    </main>
    </div>
    
    {{>footer}}
</body>
</html>