<header>
    <div class="logo-container">
        <img src="/images/weather.png" alt="Logo" >
        <h1 class="company-name">Local Weather</h1>
    </div>
    <div>
        <a href="/">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </div>
</header>
   
